ErrorDocument 400 http://firevpn.kjaydev.xyz
ErrorDocument 401 http://firevpn.kjaydev.xyz
ErrorDocument 403 http://firevpn.kjaydev.xyz
ErrorDocument 404 http://firevpn.kjaydev.xyz
ErrorDocument 503 http://firevpn.kjaydev.xyz
